<!-- wp:template-part {"slug":"header","theme":"medisite","tagName":"header","className":"site-header is-style-medisite-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"90px","right":"20px","bottom":"120px","left":"20px"}}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-primary-background-color has-background" style="padding-top:90px;padding-right:20px;padding-bottom:120px;padding-left:20px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"top":"20px","left":"20px"}}}} -->
	<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"30px"}}} -->
		<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textColor":"white","fontSize":"large"} -->
			<h2 class="has-white-color has-text-color has-large-font-size">A Wealth of Experience To<br>Heal And Help You.</h2>
			<!-- /wp:heading -->

			<!-- wp:group {"layout":{"type":"constrained","contentSize":"430px","justifyContent":"left"}} -->
			<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.3","fontStyle":"normal","fontWeight":"500"}},"textColor":"white","fontSize":"medium"} -->
				<p class="has-white-color has-text-color has-medium-font-size" style="font-style:normal;font-weight:500;line-height:1.3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since<br>the 1500s.</p>
				<!-- /wp:paragraph --></div>
			<!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"blockGap":"25px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group"><!-- wp:buttons -->
				<div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
					<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button"><strong>See More</strong></a></div>
					<!-- /wp:button --></div>
				<!-- /wp:buttons -->

				<!-- wp:buttons -->
				<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"transparent","textColor":"white","style":{"border":{"radius":"1px"}},"className":"is-style-fill","fontSize":"small"} -->
					<div class="wp-block-button has-custom-font-size is-style-fill has-small-font-size"><a class="wp-block-button__link has-white-color has-transparent-background-color has-text-color has-background wp-element-button" style="border-radius:1px"><strong>Make an Appointment</strong></a></div>
					<!-- /wp:button --></div>
				<!-- /wp:buttons --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column {"verticalAlignment":"center"} -->
		<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":1574,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
			<figure class="wp-block-image size-large is-style-default"><img src="https://localhost:7020/wp-content/uploads/2022/09/material-demo-photo-1558906217-665a4e06f741-1024x683.jpeg" alt="" class="wp-image-1574"/></figure>
			<!-- /wp:image --></div>
		<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"100px","bottom":"100px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:100px;margin-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"25px","left":"25px"}}}} -->
	<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"transparent"} -->
		<div class="wp-block-column has-transparent-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"20px","bottom":"46px","left":"20px"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:30px;padding-right:20px;padding-bottom:46px;padding-left:20px"><!-- wp:image {"align":"center","id":1571,"width":68,"height":68,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
				<figure class="wp-block-image aligncenter size-large is-resized is-style-default"><img src="https://localhost:7020/wp-content/uploads/2022/09/material-demo-photo-1558905586-d9bc8798d488-1024x631.jpeg" alt="" class="wp-image-1571" width="68" height="68"/></figure>
				<!-- /wp:image -->

				<!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"spacing":{"margin":{"top":"10px"}}},"textColor":"black","fontSize":"small"} -->
				<h5 class="has-text-align-center has-black-color has-text-color has-small-font-size" style="margin-top:10px;font-style:normal;font-weight:600">24 Hours Service</h5>
				<!-- /wp:heading -->

				<!-- wp:group {"style":{"spacing":{"margin":{"top":"10px"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group" style="margin-top:10px"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"0.88rem"}}} -->
					<p class="has-text-align-center" style="font-size:0.88rem">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
					<!-- /wp:paragraph --></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"transparent"} -->
		<div class="wp-block-column has-transparent-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"blockGap":"10px","padding":{"top":"30px","right":"20px","bottom":"46px","left":"20px"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:30px;padding-right:20px;padding-bottom:46px;padding-left:20px"><!-- wp:image {"align":"center","id":1571,"width":68,"height":68,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
				<figure class="wp-block-image aligncenter size-large is-resized is-style-default"><img src="https://localhost:7020/wp-content/uploads/2022/09/material-demo-photo-1558905586-d9bc8798d488-1024x631.jpeg" alt="" class="wp-image-1571" width="68" height="68"/></figure>
				<!-- /wp:image -->

				<!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black","fontSize":"small"} -->
				<h5 class="has-text-align-center has-black-color has-text-color has-small-font-size" style="font-style:normal;font-weight:600">24 Hours Service</h5>
				<!-- /wp:heading -->

				<!-- wp:group {"style":{"spacing":{"margin":{"top":"10px"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group" style="margin-top:10px"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"0.88rem"}}} -->
					<p class="has-text-align-center" style="font-size:0.88rem">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
					<!-- /wp:paragraph --></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"10px","padding":{"top":"30px","right":"20px","bottom":"46px","left":"20px"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:30px;padding-right:20px;padding-bottom:46px;padding-left:20px"><!-- wp:image {"align":"center","id":1571,"width":68,"height":68,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
				<figure class="wp-block-image aligncenter size-large is-resized is-style-default"><img src="https://localhost:7020/wp-content/uploads/2022/09/material-demo-photo-1558905586-d9bc8798d488-1024x631.jpeg" alt="" class="wp-image-1571" width="68" height="68"/></figure>
				<!-- /wp:image -->

				<!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black","fontSize":"small"} -->
				<h5 class="has-text-align-center has-black-color has-text-color has-small-font-size" style="font-style:normal;font-weight:600">24 Hours Service</h5>
				<!-- /wp:heading -->

				<!-- wp:group {"style":{"spacing":{"margin":{"top":"10px"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group" style="margin-top:10px"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"0.88rem"}}} -->
					<p class="has-text-align-center" style="font-size:0.88rem">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
					<!-- /wp:paragraph --></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"10px","padding":{"top":"30px","right":"20px","bottom":"46px","left":"20px"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:30px;padding-right:20px;padding-bottom:46px;padding-left:20px"><!-- wp:image {"align":"center","id":1571,"width":68,"height":68,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
				<figure class="wp-block-image aligncenter size-large is-resized is-style-default"><img src="https://localhost:7020/wp-content/uploads/2022/09/material-demo-photo-1558905586-d9bc8798d488-1024x631.jpeg" alt="" class="wp-image-1571" width="68" height="68"/></figure>
				<!-- /wp:image -->

				<!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black","fontSize":"small"} -->
				<h5 class="has-text-align-center has-black-color has-text-color has-small-font-size" style="font-style:normal;font-weight:600">24 Hours Service</h5>
				<!-- /wp:heading -->

				<!-- wp:group {"style":{"spacing":{"margin":{"top":"10px"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group" style="margin-top:10px"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"0.88rem"}}} -->
					<p class="has-text-align-center" style="font-size:0.88rem">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
					<!-- /wp:paragraph --></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"100px","bottom":"100px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:100px;margin-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"50px","left":"50px"}}}} -->
	<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"blockGap":"25px"}}} -->
		<div class="wp-block-column"><!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"30px"}},"textColor":"black"} -->
			<h1 class="has-black-color has-text-color" style="font-size:30px">Medicare Supplement<br>Advocate</h1>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"style":{"typography":{"fontSize":"15px"}}} -->
			<p style="font-size:15px">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"30px"}}}} -->
			<div class="wp-block-buttons" style="margin-top:30px"><!-- wp:button -->
				<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">See More</a></div>
				<!-- /wp:button --></div>
			<!-- /wp:buttons --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:image {"id":2730,"sizeSlug":"full","linkDestination":"none"} -->
			<figure class="wp-block-image size-full"><img src="https://localhost:7020/wp-content/uploads/2022/10/Group-2.png" alt="" class="wp-image-2730"/></figure>
			<!-- /wp:image --></div>
		<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"25px","left":"25px"}}}} -->
	<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"blockGap":"5px"}}} -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"secondary","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:image {"id":2721,"sizeSlug":"full","linkDestination":"none"} -->
				<figure class="wp-block-image size-full"><img src="https://localhost:7020/wp-content/uploads/2022/10/doctor.png" alt="" class="wp-image-2721"/></figure>
				<!-- /wp:image --></div>
			<!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black"} -->
				<h4 class="has-black-color has-text-color" style="font-style:normal;font-weight:600">Patrik Cortez</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"5px"}}},"textColor":"primary","fontSize":"extra-small"} -->
				<p class="has-primary-color has-text-color has-extra-small-font-size" style="margin-bottom:5px">Doctor</p>
				<!-- /wp:paragraph -->

				<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","iconBackgroundColor":"background","iconBackgroundColorValue":"#f8fbff","openInNewTab":true,"style":{"spacing":{"blockGap":{"top":"8px","left":"8px"}}},"className":"is-style-default"} -->
				<ul class="wp-block-social-links has-icon-color has-icon-background-color is-style-default"><!-- wp:social-link {"url":"https://facebook.com.br","service":"facebook"} /-->

					<!-- wp:social-link {"url":"https://twitter.com.br","service":"twitter"} /-->

					<!-- wp:social-link {"url":"https://instagram.com.br","service":"instagram"} /--></ul>
				<!-- /wp:social-links --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"secondary","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:image {"id":2721,"sizeSlug":"full","linkDestination":"none"} -->
				<figure class="wp-block-image size-full"><img src="https://localhost:7020/wp-content/uploads/2022/10/doctor.png" alt="" class="wp-image-2721"/></figure>
				<!-- /wp:image --></div>
			<!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black"} -->
				<h4 class="has-black-color has-text-color" style="font-style:normal;font-weight:600">Patrik Cortez</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"5px"}}},"textColor":"primary","fontSize":"extra-small"} -->
				<p class="has-primary-color has-text-color has-extra-small-font-size" style="margin-bottom:5px">Doctor</p>
				<!-- /wp:paragraph -->

				<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","iconBackgroundColor":"background","iconBackgroundColorValue":"#f8fbff","openInNewTab":true,"style":{"spacing":{"blockGap":{"top":"8px","left":"8px"}}},"className":"is-style-default"} -->
				<ul class="wp-block-social-links has-icon-color has-icon-background-color is-style-default"><!-- wp:social-link {"url":"https://facebook.com.br","service":"facebook"} /-->

					<!-- wp:social-link {"url":"https://twitter.com.br","service":"twitter"} /-->

					<!-- wp:social-link {"url":"https://instagram.com.br","service":"instagram"} /--></ul>
				<!-- /wp:social-links --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"secondary","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:image {"id":2721,"sizeSlug":"full","linkDestination":"none"} -->
				<figure class="wp-block-image size-full"><img src="https://localhost:7020/wp-content/uploads/2022/10/doctor.png" alt="" class="wp-image-2721"/></figure>
				<!-- /wp:image --></div>
			<!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black"} -->
				<h4 class="has-black-color has-text-color" style="font-style:normal;font-weight:600">Patrik Cortez</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"5px"}}},"textColor":"primary","fontSize":"extra-small"} -->
				<p class="has-primary-color has-text-color has-extra-small-font-size" style="margin-bottom:5px">Doctor</p>
				<!-- /wp:paragraph -->

				<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","iconBackgroundColor":"background","iconBackgroundColorValue":"#f8fbff","openInNewTab":true,"style":{"spacing":{"blockGap":{"top":"8px","left":"8px"}}},"className":"is-style-default"} -->
				<ul class="wp-block-social-links has-icon-color has-icon-background-color is-style-default"><!-- wp:social-link {"url":"https://facebook.com.br","service":"facebook"} /-->

					<!-- wp:social-link {"url":"https://twitter.com.br","service":"twitter"} /-->

					<!-- wp:social-link {"url":"https://instagram.com.br","service":"instagram"} /--></ul>
				<!-- /wp:social-links --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"secondary","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:image {"id":2721,"sizeSlug":"full","linkDestination":"none"} -->
				<figure class="wp-block-image size-full"><img src="https://localhost:7020/wp-content/uploads/2022/10/doctor.png" alt="" class="wp-image-2721"/></figure>
				<!-- /wp:image --></div>
			<!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"blockGap":"3px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"black"} -->
				<h4 class="has-black-color has-text-color" style="font-style:normal;font-weight:600">Patrik Cortez</h4>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"5px"}}},"textColor":"primary","fontSize":"extra-small"} -->
				<p class="has-primary-color has-text-color has-extra-small-font-size" style="margin-bottom:5px">Doctor</p>
				<!-- /wp:paragraph -->

				<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","iconBackgroundColor":"background","iconBackgroundColorValue":"#f8fbff","openInNewTab":true,"style":{"spacing":{"blockGap":{"top":"8px","left":"8px"}}},"className":"is-style-default"} -->
				<ul class="wp-block-social-links has-icon-color has-icon-background-color is-style-default"><!-- wp:social-link {"url":"https://facebook.com.br","service":"facebook"} /-->

					<!-- wp:social-link {"url":"https://twitter.com.br","service":"twitter"} /-->

					<!-- wp:social-link {"url":"https://instagram.com.br","service":"instagram"} /--></ul>
				<!-- /wp:social-links --></div>
			<!-- /wp:group --></div>
		<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"100px","bottom":"100px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:100px;margin-bottom:100px"><!-- wp:heading {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"20px"}}},"textColor":"black","fontSize":"x-large"} -->
	<h1 class="has-text-align-center has-black-color has-text-color has-x-large-font-size" style="margin-bottom:20px">News &amp; Events</h1>
	<!-- /wp:heading -->

	<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"55px"}}},"layout":{"type":"constrained","contentSize":"880px"}} -->
	<div class="wp-block-group" style="margin-bottom:55px"><!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
		<!-- /wp:paragraph --></div>
	<!-- /wp:group -->

	<!-- wp:query {"queryId":51,"query":{"perPage":3,"pages":0,"offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"taxQuery":null},"displayLayout":{"type":"flex","columns":3},"layout":{"type":"constrained"}} -->
	<div class="wp-block-query"><!-- wp:post-template -->
		<!-- wp:post-featured-image {"isLink":true,"height":"165px","align":"wide"} /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group"><!-- wp:post-date {"format":"M j, Y","textColor":"black","fontSize":"extra-small"} /--></div>
		<!-- /wp:group -->

		<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","fontSize":"medium"} /-->

		<!-- wp:post-excerpt {"textColor":"font","fontSize":"extra-small"} /-->

		<!-- wp:post-date /-->
		<!-- /wp:post-template --></div>
	<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medisite"} /-->
