<!-- wp:template-part {"slug":"header","theme":"medisite","tagName":"header","className":"site-header is-style-medisite-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"40px","bottom":"70px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:40px;padding-bottom:70px"><!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"20px"}}},"className":"is-style-medisite-text-shadow","fontSize":"x-large"} /-->

<!-- wp:post-content {"align":"full","layout":{"inherit":true},"fontSize":"extra-small"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medisite","tagName":"footer"} /-->
