<!-- wp:template-part {"slug":"header","theme":"medi-site","tagName":"header","className":"site-header is-style-medi-site-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"40px","bottom":"70px","right":"20px","left":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:40px;padding-right:20px;padding-bottom:70px;padding-left:20px"><!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"20px"}}},"className":"is-style-medi-site-text-shadow","fontSize":"x-large"} /-->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true},"fontSize":"extra-small"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medi-site","tagName":"footer"} /-->
