<!-- wp:template-part {"slug":"header","theme":"medi-site","tagName":"header","className":"site-header is-style-medi-site-sticky"} /-->
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dv-spacing, 1.25rem) *3)","bottom":"calc(var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dv-spacing, 1.25rem) *2)","right":"20px","left":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-right:20px;padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2);padding-left:20px"><!-- wp:post-title {"className":"is-style-medi-site-text-shadow","fontSize":"x-large"} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","allowOrientation":false}} -->
	<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false} /-->

		<!-- wp:post-date /-->

		<!-- wp:post-terms {"term":"category"} /-->

		<!-- wp:post-terms {"term":"post_tag"} /--></div>
	<!-- /wp:group -->

	<!-- wp:separator {"opacity":"css","backgroundColor":"secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-secondary-color has-css-opacity has-secondary-background-color has-background is-style-wide"/>
	<!-- /wp:separator -->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:separator {"opacity":"css","backgroundColor":"secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-secondary-color has-css-opacity has-secondary-background-color has-background is-style-wide"/>
	<!-- /wp:separator -->

	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
	<div class="wp-block-group"><!-- wp:post-navigation-link {"showTitle":true} /-->

		<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /--></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"medi-site","tagName":"footer"} /-->
